.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

.header-style {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #F7F7F7;  
    text-align: center;
    padding: 40px 20px;
    background-color: #10291D;
    border-bottom: 5px solid #F7C64A;
}
.header-style p {
    font-size: 7rem;
    margin: 10px 0 0 0;
}

body {
    font-family: 'Montserrat', sans-serif; /* Primary header and body text */
    background-color: #F7F7F7;
    margin: 0;
}

h1, .brand-title {
    font-family: 'Italianno', cursive; /* Reserved for company title/decorative elements*/
}

p {
    margin-bottom: 15px;
    line-height: 1.6; 
}

footer {
    text-align: center;
    padding: 40px 0;
    font-size: 0.9rem;
    color: #666;
}
